<p id="notice"><%= notice %></p>

<p>
  <strong>Platformname:</strong>
  <%= @platform.platformname %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @platform.idea_id %>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
